<<head>

<!-- styling for google maps -->

  <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>

  <!-- require google maps -->

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaXj1YIvmBnWSa35KBMxK6FRIeoCqhGI">
    </script>

  <!-- google maps javascript functionality -->
	
	<script type="text/javascript">
      function initialize() {

        var myLatlng = new google.maps.LatLng(-25.363882,131.044922);

        var mapOptions = {
          center: myLatlng,
          zoom: 4
          };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Hello World!"
        });
      
      // to add the marker to the map, call setMap();
      marker.setMap(map);
      
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      </script>

</head>

<body class="new_blogpost_body">

<h2>Add Enjoyment</h2>

<%= form_for @blogpost do |f| %>

<div class="col-md-3">
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, placeholder: "name", :class => "form-control" %>
	</div>

	<div class="field">
		<%= f.label :city %>
		<%= f.text_field :city, placeholder:"city", :class => "form-control" %>
	</div>

	<div class="field">
		<%= f.label :state %>
		<%= f.text_field :state, placeholder: "state", :class => "form-control" %>
	</div>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "title", :class => "form-control" %>
	</div>

	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content, placeholder: "content", :class => "form-control", :rows => "10" %>
	</div>
	
	<div class="actions">
		<%= f.submit "Add Enjoyment", :class => "btn btn-primary" %>
	</div>
</div>

	<% end %>

<div class="col-md-12">
	<%= link_to "Back to the riches", blogposts_path %>
</div>
</body>