<h1>Blogposts#new</h1>

<%= form_for @blogpost do |f| %>
	Name : <%= f.text_field :name %>
	City : <%= f.text_field :city %>
	State : <%= f.text_field :state %>
	Title : <%= f.text_field :title %>
	Content : <%= f.text_area :content %>

	<%= f.submit "Add Enjoyment!" %>

	<% end %>

	<%= link_to "Back to the riches", blogposts_path %>