<head>

<!-- styling for google maps -->

  <style type="text/css">
      #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>

  <!-- require google maps -->

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaXj1YIvmBnWSa35KBMxK6FRIeoCqhGI">
    </script>

  <!-- google maps javascript functionality -->
  
  <script type="text/javascript">
      function initialize() {

        var myLatlng = new google.maps.LatLng(-25.363882,131.044922);

        var mapOptions = {
          center: myLatlng,
          zoom: 4
          };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Hello World!"
        });
      
      // to add the marker to the map, call setMap();
      marker.setMap(map);
      
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      </script>

</head>

<body class="new_blogpost_body">
<div class="col-md-6">

  <h3> <%= @blogpost.title %> </h3>

  <h4> <%= @blogpost.name %>, <%= @blogpost.city %>, <%= @blogpost.state %> </h4>

  <p> <%= @blogpost.content %> </p>

</div>

<div class="col-md-6">

  <h3>Comments</h3>

    <% @blogpost.comments.each do |c| %>
	   <h4 class="text-primary"><%= c.name %></h4>
	   <div><%= c.comment %></div><hr/>

  <% end %>

</div>

<div class="col-md-12">

  <h3> New Comment </h3>

    <%= form_for( @comment ,:url => {:action => :new_comment, :controller => :blogposts} ) do |f| %>

    <%= hidden_field_tag :blogpost_id, @blogpost.id %>

  <div class="col-md-3">

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "name", :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment, placeholder: "comment", :class => "form-control", :rows => "10" %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>

  </div>

<% end %>

</div>

<div class="col-md-12">
<%= link_to "Enrich this enjoyment", edit_blogpost_path(@blogpost) %> |

<%= link_to "Delete", :blogpost, method: :delete, data: { confirm: 'Are you sure?'} %> |

<%= link_to "Back to the riches", blogposts_path %>
</div>

<div id="map-canvas"></div>

</body>

