<!DOCTYPE html>
<html>
<head>
  <title>Thirdtry</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="title">
  <h1>Come and Dine</h1>
  <h4>...all things are ready, come to the feast</h4>
</div>
  
<ul class="nav nav-pills" role="tablist">
  <li role="presentation">
  <%= link_to "Home", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "About", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "Small Groups", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "Events", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "Contacts", blogposts_path %>
  </li>
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Search</button>
      </span>
    </div>
  </div>
   <li role="presentation">
  <%= link_to "Sign Up", blogposts_path %>
   <li role="presentation">
  <%= link_to "Log In", blogposts_path %>
</ul>


  
<%#= link_to "Blogs", blogposts_path %>

<%= yield %>

</body>
</html>
