<!DOCTYPE html>
<html>
<head>
  <title>Thirdtry</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="title">
  <h1>come and dine</h1>
  <h4>...all things are ready, come to the feast</h4>
</div>
  
<ul class="nav nav-pills" role="tablist">
  <li role="presentation">
  <%= link_to "Home", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "About", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "Small Groups", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "Events", blogposts_path %>
  </li>
  <li role="presentation">
  <%= link_to "Contacts", blogposts_path %>
  </li>
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Search</button>
      </span>
    </div>
  </div>
   
  <div id="user_header">
  </div>
  <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
  <div id="user_header">
    <% if current_user %>
      Logged in as <%= current_user.email %>
        <li role="presentation">
          <%= link_to "Log Out", session_path("current") %>
        </li>
    <% else %>  
        <li role="presentation">
          <%= link_to "Sign Up", new_user_path %> 
        </li>
       <li role="presentation">
          <%= link_to "Log In", new_session_path %>
        </li>  
    <% end %>
  </div>
</ul>
 
<%#= link_to "Blogs", blogposts_path %>

<%= yield %>

</body>
</html>
